[data-theme="light"] .bg { color:#4c4f69;background-color:#eff1f5; }
[data-theme="light"] .chroma { color:#4c4f69;background-color:#eff1f5; }
[data-theme="light"] .chroma .err { color:#d20f39 }
[data-theme="light"] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
[data-theme="light"] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
[data-theme="light"] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
[data-theme="light"] .chroma .hl { background-color:#bcc0cc }
[data-theme="light"] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#8c8fa1 }
[data-theme="light"] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#8c8fa1 }
[data-theme="light"] .chroma .line { display:flex; }
[data-theme="light"] .chroma .k { color:#8839ef }
[data-theme="light"] .chroma .kc { color:#fe640b }
[data-theme="light"] .chroma .kd { color:#d20f39 }
[data-theme="light"] .chroma .kn { color:#179299 }
[data-theme="light"] .chroma .kp { color:#8839ef }
[data-theme="light"] .chroma .kr { color:#8839ef }
[data-theme="light"] .chroma .kt { color:#d20f39 }
[data-theme="light"] .chroma .na { color:#1e66f5 }
[data-theme="light"] .chroma .nc { color:#df8e1d }
[data-theme="light"] .chroma .no { color:#df8e1d }
[data-theme="light"] .chroma .nd { color:#1e66f5;font-weight:bold }
[data-theme="light"] .chroma .ni { color:#179299 }
[data-theme="light"] .chroma .ne { color:#fe640b }
[data-theme="light"] .chroma .nl { color:#04a5e5 }
[data-theme="light"] .chroma .nn { color:#fe640b }
[data-theme="light"] .chroma .py { color:#fe640b }
[data-theme="light"] .chroma .nt { color:#8839ef }
[data-theme="light"] .chroma .nb { color:#04a5e5 }
[data-theme="light"] .chroma .bp { color:#04a5e5 }
[data-theme="light"] .chroma .nv { color:#dc8a78 }
[data-theme="light"] .chroma .vc { color:#dc8a78 }
[data-theme="light"] .chroma .vg { color:#dc8a78 }
[data-theme="light"] .chroma .vi { color:#dc8a78 }
[data-theme="light"] .chroma .vm { color:#dc8a78 }
[data-theme="light"] .chroma .nf { color:#1e66f5 }
[data-theme="light"] .chroma .fm { color:#1e66f5 }
[data-theme="light"] .chroma .s { color:#40a02b }
[data-theme="light"] .chroma .sa { color:#d20f39 }
[data-theme="light"] .chroma .sb { color:#40a02b }
[data-theme="light"] .chroma .sc { color:#40a02b }
[data-theme="light"] .chroma .dl { color:#1e66f5 }
[data-theme="light"] .chroma .sd { color:#9ca0b0 }
[data-theme="light"] .chroma .s2 { color:#40a02b }
[data-theme="light"] .chroma .se { color:#1e66f5 }
[data-theme="light"] .chroma .sh { color:#9ca0b0 }
[data-theme="light"] .chroma .si { color:#40a02b }
[data-theme="light"] .chroma .sx { color:#40a02b }
[data-theme="light"] .chroma .sr { color:#179299 }
[data-theme="light"] .chroma .s1 { color:#40a02b }
[data-theme="light"] .chroma .ss { color:#40a02b }
[data-theme="light"] .chroma .m { color:#fe640b }
[data-theme="light"] .chroma .mb { color:#fe640b }
[data-theme="light"] .chroma .mf { color:#fe640b }
[data-theme="light"] .chroma .mh { color:#fe640b }
[data-theme="light"] .chroma .mi { color:#fe640b }
[data-theme="light"] .chroma .il { color:#fe640b }
[data-theme="light"] .chroma .mo { color:#fe640b }
[data-theme="light"] .chroma .o { color:#04a5e5;font-weight:bold }
[data-theme="light"] .chroma .ow { color:#04a5e5;font-weight:bold }
[data-theme="light"] .chroma .c { color:#9ca0b0;font-style:italic }
[data-theme="light"] .chroma .ch { color:#acb0be;font-style:italic }
[data-theme="light"] .chroma .cm { color:#9ca0b0;font-style:italic }
[data-theme="light"] .chroma .c1 { color:#9ca0b0;font-style:italic }
[data-theme="light"] .chroma .cs { color:#9ca0b0;font-style:italic }
[data-theme="light"] .chroma .cp { color:#9ca0b0;font-style:italic }
[data-theme="light"] .chroma .cpf { color:#9ca0b0;font-weight:bold;font-style:italic }
[data-theme="light"] .chroma .gd { color:#d20f39;background-color:#ccd0da }
[data-theme="light"] .chroma .ge { font-style:italic }
[data-theme="light"] .chroma .gr { color:#d20f39 }
[data-theme="light"] .chroma .gh { color:#fe640b;font-weight:bold }
[data-theme="light"] .chroma .gi { color:#40a02b;background-color:#ccd0da }
[data-theme="light"] .chroma .gs { font-weight:bold }
[data-theme="light"] .chroma .gu { color:#fe640b;font-weight:bold }
[data-theme="light"] .chroma .gt { color:#d20f39 }
[data-theme="light"] .chroma .gl { text-decoration:underline }

[data-theme="dark"] .chroma .err { color:#c53b53 }
[data-theme="dark"] .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
[data-theme="dark"] .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
[data-theme="dark"] .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
[data-theme="dark"] .chroma .hl { background-color:#444a73 }
[data-theme="dark"] .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#828bb8 }
[data-theme="dark"] .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#828bb8 }
[data-theme="dark"] .chroma .line { display:flex; }
[data-theme="dark"] .chroma .k { color:#c099ff }
[data-theme="dark"] .chroma .kc { color:#ffc777 }
[data-theme="dark"] .chroma .kd { color:#c099ff }
[data-theme="dark"] .chroma .kn { color:#86e1fc }
[data-theme="dark"] .chroma .kp { color:#c099ff }
[data-theme="dark"] .chroma .kr { color:#c099ff }
[data-theme="dark"] .chroma .kt { color:#4fd6be }
[data-theme="dark"] .chroma .na { color:#82aaff }
[data-theme="dark"] .chroma .nc { color:#ff966c }
[data-theme="dark"] .chroma .no { color:#ff966c }
[data-theme="dark"] .chroma .nd { color:#82aaff;font-weight:bold }
[data-theme="dark"] .chroma .ni { color:#86e1fc }
[data-theme="dark"] .chroma .ne { color:#ffc777 }
[data-theme="dark"] .chroma .nl { color:#c3e88d }
[data-theme="dark"] .chroma .nn { color:#ffc777 }
[data-theme="dark"] .chroma .py { color:#ffc777 }
[data-theme="dark"] .chroma .nt { color:#c099ff }
[data-theme="dark"] .chroma .nb { color:#c3e88d }
[data-theme="dark"] .chroma .bp { color:#c3e88d }
[data-theme="dark"] .chroma .nf { color:#82aaff }
[data-theme="dark"] .chroma .fm { color:#82aaff }
[data-theme="dark"] .chroma .s { color:#c3e88d }
[data-theme="dark"] .chroma .sa { color:#c099ff }
[data-theme="dark"] .chroma .sb { color:#c3e88d }
[data-theme="dark"] .chroma .sc { color:#c3e88d }
[data-theme="dark"] .chroma .dl { color:#82aaff }
[data-theme="dark"] .chroma .sd { color:#444a73 }
[data-theme="dark"] .chroma .s2 { color:#c3e88d }
[data-theme="dark"] .chroma .se { color:#82aaff }
[data-theme="dark"] .chroma .sh { color:#444a73 }
[data-theme="dark"] .chroma .si { color:#c3e88d }
[data-theme="dark"] .chroma .sx { color:#c3e88d }
[data-theme="dark"] .chroma .sr { color:#86e1fc }
[data-theme="dark"] .chroma .s1 { color:#c3e88d }
[data-theme="dark"] .chroma .ss { color:#c3e88d }
[data-theme="dark"] .chroma .m { color:#ffc777 }
[data-theme="dark"] .chroma .mb { color:#ffc777 }
[data-theme="dark"] .chroma .mf { color:#ffc777 }
[data-theme="dark"] .chroma .mh { color:#ffc777 }
[data-theme="dark"] .chroma .mi { color:#ffc777 }
[data-theme="dark"] .chroma .il { color:#ffc777 }
[data-theme="dark"] .chroma .mo { color:#ffc777 }
[data-theme="dark"] .chroma .o { color:#c3e88d;font-weight:bold }
[data-theme="dark"] .chroma .ow { color:#c3e88d;font-weight:bold }
[data-theme="dark"] .chroma .c { color:#444a73;font-style:italic }
[data-theme="dark"] .chroma .ch { color:#444a73;font-style:italic }
[data-theme="dark"] .chroma .cm { color:#444a73;font-style:italic }
[data-theme="dark"] .chroma .c1 { color:#444a73;font-style:italic }
[data-theme="dark"] .chroma .cs { color:#444a73;font-style:italic }
[data-theme="dark"] .chroma .cp { color:#444a73;font-style:italic }
[data-theme="dark"] .chroma .cpf { color:#444a73;font-weight:bold;font-style:italic }
[data-theme="dark"] .chroma .gd { color:#c53b53;background-color:#1b1d2b }
[data-theme="dark"] .chroma .ge { font-style:italic }
[data-theme="dark"] .chroma .gr { color:#c53b53 }
[data-theme="dark"] .chroma .gh { color:#ffc777;font-weight:bold }
[data-theme="dark"] .chroma .gi { color:#c3e88d;background-color:#1b1d2b }
[data-theme="dark"] .chroma .gs { font-weight:bold }
[data-theme="dark"] .chroma .gu { color:#ffc777;font-weight:bold }
[data-theme="dark"] .chroma .gt { color:#c53b53 }
[data-theme="dark"] .chroma .gl { text-decoration:underline }

