<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ $themeToggleJS := resources.Get "js/theme.js" }}
{{ with $themeToggleJS }}
  <script>{{ .Content | safeJS }}</script>
{{ end }}
{{ $themeToggleJS := resources.Get "js/umami.js" }}
{{ with $themeToggleJS }}
  <script defer data-website-id="8e0e3248-1851-495f-912a-7184eb497044">{{ .Content | safeJS }}</script>
{{ end }}
  <header>
{{ partial "header.html" . }}
  </header>
  <main>
{{ block "main" . }}{{ end }}
  </main>
  <footer>
{{ partial "footer.html" . }}
  </footer>
</body>
</html>
